In [15]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
# Plotly
import plotly
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import plotly.figure_factory as ff
init_notebook_mode(connected=True)

In [2]:
site = "https://www.onlinekhabar.com/"
hdr = {'User-Agent': 'Mozilla/5.0'}
req = Request(site,headers=hdr)
page = urlopen(req)
soup = BeautifulSoup(page, "lxml")

In [3]:

image_count = 0
alt_count = 0 
collection = soup.findAll("img")
for img in collection:
    image_count = image_count + 1
    if 'alt' in img.attrs:
        alt_count = alt_count + 1
print ("image_count", image_count) 
print ("alt_count", alt_count) 
print ("alt_count_percent", alt_count/image_count*100)

image_count 136
alt_count 1
alt_count_percent 0.7352941176470588

In [4]:
df = pd.read_csv('data_sources/news_portals.csv')

In [5]:
df

                Portal                                     Link
0        Online Khabar            https://www.onlinekhabar.com/
1            eKantipur                http://www.ekantipur.com/
2             Setopati                https://www.setopati.com/
3  The Himalayan Times           https://thehimalayantimes.com/
4         My Republica  https://myrepublica.nagariknetwork.com/
5           Nepal News               https://www.nepalnews.com/
6          Gorkhapatra        http://www.gorkhapatraonline.com/
7         Nepali Times             https://www.nepalitimes.com/

In [6]:
def alt_counter(site):
    try:
        hdr = {'User-Agent': 'Mozilla/5.0'}
        req = Request(site, headers=hdr)
        page = urlopen(req)
        soup = BeautifulSoup(page, "lxml")
        image_count = 0
        alt_count = 0 
        collection = soup.findAll("img")
        for img in collection:
            image_count = image_count + 1
            if 'alt' in img.attrs:
                alt_count = alt_count + 1
        return (alt_count, image_count)
    except:
        return (None, None)

In [7]:
df['alt_count'],df['image_count']=zip(*df.Link.apply(alt_counter))

In [8]:
df

,Portal,Link,alt_count,image_count
0,Online Khabar,https://www.onlinekhabar.com/,1,136
1,eKantipur,http://www.ekantipur.com/,53,53
2,Setopati,https://www.setopati.com/,112,113
3,The Himalayan Times,https://thehimalayantimes.com/,135,137
4,My Republica,https://myrepublica.nagariknetwork.com/,88,89
5,Nepal News,https://www.nepalnews.com/,96,104
6,Gorkhapatra,http://www.gorkhapatraonline.com/,39,41
7,Nepali Times,https://www.nepalitimes.com/,80,81

In [9]:
df['percent'] = 100*df['alt_count']/df['image_count']

In [14]:
iplot(plot_bar(x=df['Portal'], y=df['percent']))

NameError: name 'plot_bar' is not defined

In [16]:
iplot(plot_bar(x=[1,2,3], y=[4,5,6]))

NameError: name 'plot_bar' is not defined